In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
ls data

air_temp.1900  air_temp.1923  air_temp.1946  air_temp.1969  air_temp.1992
air_temp.1901  air_temp.1924  air_temp.1947  air_temp.1970  air_temp.1993
air_temp.1902  air_temp.1925  air_temp.1948  air_temp.1971  air_temp.1994
air_temp.1903  air_temp.1926  air_temp.1949  air_temp.1972  air_temp.1995
air_temp.1904  air_temp.1927  air_temp.1950  air_temp.1973  air_temp.1996
air_temp.1905  air_temp.1928  air_temp.1951  air_temp.1974  air_temp.1997
air_temp.1906  air_temp.1929  air_temp.1952  air_temp.1975  air_temp.1998
air_temp.1907  air_temp.1930  air_temp.1953  air_temp.1976  air_temp.1999
air_temp.1908  air_temp.1931  air_temp.1954  air_temp.1977  air_temp.2000
air_temp.1909  air_temp.1932  air_temp.1955  air_temp.1978  air_temp.2001
air_temp.1910  air_temp.1933  air_temp.1956  air_temp.1979  air_temp.2002
air_temp.1911  air_temp.1934  air_temp.1957  air_temp.1980  air_temp.2003
air_temp.1912  air_temp.1935  air_temp.1958  air_temp.1981  air_temp.2004
air_temp.1913  air_temp.1936  air_temp.1959  air_temp.1982  air_temp.2005
air_temp.1914  air_temp.1937  air_temp.1960  air_temp.1983  air_temp.2006
air_temp.1915  air_temp.1938  air_temp.1961  air_temp.1984  air_temp.2007
air_temp.1916  air_temp.1939  air_temp.1962  air_temp.1985  air_temp.2008
air_temp.1917  air_temp.1940  air_temp.1963  air_temp.1986  air_temp.2009
air_temp.1918  air_temp.1941  air_temp.1964  air_temp.1987  air_temp.2010
air_temp.1919  air_temp.1942  air_temp.1965  air_temp.1988  air_temp.2011
air_temp.1920  air_temp.1943  air_temp.1966  air_temp.1989  air_temp.2012
air_temp.1921  air_temp.1944  air_temp.1967  air_temp.1990  air_temp.2013
air_temp.1922  air_temp.1945  air_temp.1968  air_temp.1991  air_temp.2014

In [20]:
# leer csv
df = pd.read_table("data/air_temp.2014", sep="\s+", header=None)

In [24]:
cols = ["Long","Lat","Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sept","Oct","Nov","Dic"]

In [25]:
df.columns = cols

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85794 entries, 0 to 85793
Data columns (total 26 columns):
Long      85794 non-null float64
Lat       85794 non-null float64
Ene       85794 non-null float64
Feb       85794 non-null float64
Mar       85794 non-null float64
Abr       85794 non-null float64
May       85794 non-null float64
Jun       85794 non-null float64
Jul       85794 non-null float64
Ago       85794 non-null float64
Sept      85794 non-null float64
Oct       85794 non-null float64
Nov       85794 non-null float64
Dic       85794 non-null float64
Ene_c     85794 non-null float64
Feb_c     85794 non-null float64
Mar_c     85794 non-null float64
Abr_c     85794 non-null float64
May_c     85794 non-null float64
Jun_c     85794 non-null float64
Jul_c     85794 non-null float64
Ago_c     85794 non-null float64
Sept_c    85794 non-null float64
Oct_c     85794 non-null float64
Nov_c     85794 non-null float64
Dic_c     85794 non-null float64
dtypes: float64(26)
memory usage: 17.0 MB

In [27]:
meses = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sept","Oct","Nov","Dic"]

In [29]:
def convertir_fa_to_c(f):
    return (f-32) * 0.5556

In [30]:
for mes in meses:
    df["{}_c".format(mes)] = df.apply(lambda x: convertir_fa_to_c(x[mes]), axis=1)

In [31]:
df.head()

,Long,Lat,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,...,Mar_c,Abr_c,May_c,Jun_c,Jul_c,Ago_c,Sept_c,Oct_c,Nov_c,Dic_c
0,-179.75,71.25,-20.1,-16.1,-19.0,-15.2,-5.1,-0.7,2.9,4.8,...,-28.33560,-26.22432,-20.61276,-18.16812,-16.16796,-15.11232,-17.27916,-19.72380,-20.72388,-28.33560
1,-179.75,68.75,-23.3,-18.8,-22.7,-16.1,-6.0,-0.2,4.0,5.0,...,-30.39132,-26.72436,-21.11280,-17.89032,-15.55680,-15.00120,-17.27916,-20.72388,-22.66848,-30.11352
2,-179.75,68.25,-23.8,-20.1,-24.1,-16.9,-7.0,-0.2,4.1,4.9,...,-31.16916,-27.16884,-21.66840,-17.89032,-15.50124,-15.05676,-17.66808,-21.44616,-23.33520,-30.39132
3,-179.75,67.75,-22.6,-19.6,-23.6,-15.9,-5.8,2.3,7.1,7.3,...,-30.89136,-26.61324,-21.00168,-16.50132,-13.83444,-13.72332,-16.94580,-21.44616,-23.27964,-29.83572
4,-179.75,67.25,-24.4,-22.6,-26.4,-18.2,-7.7,1.8,7.3,6.7,...,-32.44704,-27.89112,-22.05732,-16.77912,-13.72332,-14.05668,-18.05700,-23.39076,-25.16868,-31.28028